<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BimServerExchange.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <BimServerExchange.Properties.Settings>
            <setting name="BimServerUrl" serializeAs="String">
                <value />
            </setting>
            <setting name="BimServerPort" serializeAs="String">
                <value />
            </setting>
            <setting name="BimServerLogin" serializeAs="String">
                <value />
            </setting>
            <setting name="BimServerPwd" serializeAs="String">
                <value />
            </setting>
            <setting name="BimServerIFCFormat" serializeAs="String">
                <value />
            </setting>
            <setting name="BimServerProject" serializeAs="String">
                <value />
            </setting>
            <setting name="BimServerOptions" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="BimServerExportConfig" serializeAs="String">
                <value />
            </setting>
        </BimServerExchange.Properties.Settings>
    </userSettings>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
</configuration>